/* HorizontalGallery.css */
.gallery-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto; /* Adjust as needed */
  border-radius: 8px;
}

.gallery-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.gallery-item {
  flex-shrink: 0;
  background-color: #ffff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
  z-index: 10;
  position: relative;
}

.gallery-item img {
  display: block;
  border-radius: 6px;
}